C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\bike_wip06.py
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\bike_wip07.py
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\bike_wip08.py
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\bike_wip09
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\bike_wip10.py
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\bikeshare_2.py
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\bikeshare_2_wip
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\bikeshare_2_wip2
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\bikeshare_2_wip3
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\bikeshare_2_wip4
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\bikeshare_2_wip4.py
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\bikeshare_2_wip05.py
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\bikeshare_wip05.py
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\chicago.csv
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\new_york_city.csv
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\washington.csv
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\__MACOSX\._bikeshare_2.py
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\__MACOSX\._chicago.csv
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\__MACOSX\._new_york_city.csv
C:\Users\emich\udacity-git-course\git-project\pdsnd_github\bikeshare-2\__MACOSX\._washington.csv